<div class="row">
    {% for post in site.posts %}
        <!-- Single Articles Start -->
        <div class="col-lg-12">
            <article class="single-article">
                <div class="row">
                    <!-- Articles Thumbnail Start -->
                    <div class="col-lg-5">
                        <div class="article-thumb">
                            <img src="assets/img/article/zumbido/{{ post.cover }}" alt="Zumbido">
                        </div>
                    </div>
                    <!-- Articles Thumbnail End -->

                    <!-- Articles Content Start -->
                    <div class="col-lg-7">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <div class="article-body">
                                    <h3>
                                        <a href="article-details.html">
                                            {{ post.title }}
                                        </a>
                                    </h3>
                                    <div class="article-meta">
                                        <a href="#" class="author">Por :: <span>Roberta Santos</span></a>
                                    </div>

                                    <div class="article-date">
                                        {{ post.date | date: '%d' }}
                                        <span class="month">
                                            {{ post.date | date: '%b' }}
                                        </span>
                                    </div>

                                    <p>
                                        {{ post.excerpt }}
                                    </p>

                                    <a href="{{ post.url }}" class="readmore-btn">Leia mais<i class="fa fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Articles Content End -->
                </div>
            </article>
        </div>
        <!-- Single Articles End -->
    {% endfor %}
</div>
